<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Juicer Dev</title>
  <base href="/" />
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_ykgtxz90gjve7b9.css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="/Scripts/sc2.min.js"></script>
  <!--<script src="/Scripts/sc2.js"></script>-->
  <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/Styles/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>

<body>

<script>


    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });


</script>

<!--  Universal nav bar -->
<nav class="navbar navbar-expand-md navbar-dark myNav">
  <div class="container-fluid" ng-controller="Main" >

    <!-- logo -->
    <a class="navbar-logo" href="index.html">
      <img src="/media/orange.png" alt="logo" height="50px">
    </a>

    <!-- Collapseable section of navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./Views/comments.html">Comment Bot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Views/sell-votes.html">Sell Votes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Views/buy-votes.html">Buy Votes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Views/faq.html">FAQ</a>
        </li>
      </ul>
    </div>

    <!-- Login button -->
    <a class="btn navbar-btn joinNavBtn" ng-href="{{loginURL}}" ng-hide="isAuth()">Log In</a>

    <!-- Logout button -->
    <div class="dropdown">
      <a ng-show="isAuth()" class="dropdown-toggle user-name" data-toggle="dropdown" boundary='viewport'><img src="//img.busy.org/@{{user.name}}?s=32" width="32" height="32"> {{user.name}}</a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 8rem;">

        <a ng-show="isAuth()" class="dropdown-item" ng-href="./Views/profile.html" >
        Profile
        </a>

        <div class="dropdown-divider"></div>
        
        <a ng-show="isAuth()" class="dropdown-item" ng-href="http://127.0.0.1:8080" ng-click="logout()">
        Logout
        </a>


      </div>
    </div>
  
    

    <!-- <button ng-show="isAuth()" class="ml-2 btn btn-secondary" type="submit" ng-click="logout()">
      Logout
    </button> -->

    <!-- hamburger icon when nav bar is collapsed -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>


<!-- Jumbotron section -->
<div class="jumbotron headerSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="juicer-header">
          Juicer
        </div>
        <div class="juicer-subHeader">
          A personal assistant to grow your steem account
        </div>
      </div>
    </div>
  </div>
</div> <!-- *** Jumbotron section *** -->



<!-- Circle -->
<div class="circle">
  <div class="top-text">
    Imagine your account growing while you sleep
  </div>
  <div class="bottom-text">
    Sounds crazy,<br>we know
  </div>
</div> <!-- *** circle *** -->


<!-- juice pics -->

  <!-- left side -->
    <div class="juice1 d-none d-sm-none d-md-block">
      <img src="/media/juiceLeft1.png">
    </div> 

    <div class="juice2 d-none d-sm-none d-md-block">
      <img src="/media/juiceleft2.png">
    </div> 

    <!-- mobile -->
    <div class="juice4 d-sm-none">
      <img src="/media/juiceLeftMobile.png">
    </div> 
    <!-- *** mobile *** -->

  <!-- *** left side *** -->

  <!-- right side -->
    <div class="juice3 d-none d-sm-none d-md-block">
      <img src="/media/juiceRight.png">
    </div> 

    <!-- mobile -->
    <div class="juice5 d-sm-none">
      <img src="/media/juiceRightMobile.png">
    </div> 
    <!-- *** mobile *** -->

  <!-- *** right side *** -->

<!-- *** juice pic *** -->


<!-- Description header section -->
<div class="descriptionHeader-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="description-header">
          Get to know Juicer
        </div>
      </div>
    </div>
  </div>
</div> <!-- *** Description header section *** -->



<!-- Description section -->
<div class="description-section">
  <div class="container-fluid">

    <!-- comment bot -->
    <div class="row comment-bot">

      <div class="col-sm order-sm-2 align-self-center">
        <div class="pic">
          <img src="/media/comment-bot.png">
        </div>
      </div>

      <div class="col-sm order-sm-1 align-self-center">
        <div class="description">
          <div class="header">
            <b>Comment Bot</b>
          </div>
          <div class="details">
            Don't have time to repeatedly comment and engage every day?
            <br>
            <br>
            No worries, Juicer's bot uses custom templates to get the convo going and then leaves the rest to you.
          </div>
          <div class="button">
            <button type="button" class="btn">Use Comment Bot</button>
          </div>
        </div>
      </div>
    </div> <!-- *** comment bot *** -->


    <!-- sell votes -->
    <div class="row sell-votes">

      <div class="col-sm align-self-center">
        <div class="pic">
          <img src="/media/sell-votes.png">
        </div>
      </div>

      <div class="col-sm align-self-center">
        <div class="description">
          <div class="header">
            <b>Sell Votes</b>
          </div>
          <div class="details">
            The closest you'll get to having money grow on a tree. No effort needed.
            <br>
            <br>
            Earn daily profits by selling your votes to other Juicer members. You'll be paid in SBD after each vote.
          </div>
          <div class="button">
            <button type="button" class="btn">Sell Votes Now</button>
          </div>
        </div>
      </div>
    </div> <!-- *** sell votes *** -->
  </div>  <!-- *** container *** -->


    <!-- buy votes - coming soon -->
    <div class="blurry">
      <div class="row buy-votes">

        <div class="col-sm align-self-center">
          <div class="description">
            <div class="header">
              <b>Buy Votes</b>
            </div>
            <div class="details">
              Receive instant 220% upvotes on your post. If you send $10 SBD, you'll receive an upvote of $22 SBD.
            </div>
            <div class="button">
              <button type="button" class="btn" disabled>Buy Votes Now</button>
            </div>
          </div>
        </div>

        <div class="col-sm align-self-center">
          <div class="coming-soon">
            <div class="coming-soon-header">
              <b>Coming Soon!</b>
            </div>
            <div class="number">
              47
            </div>
            <div class="sellers-needed">
              more vote sellers needed
            </div>
            <div class="button">
              <button type="button" class="btn sell-btn">Sell Votes Now</button>
            </div>
          </div>
        </div>

      </div> <!-- *** buy votes - coming soon *** -->
    </div> <!-- *** blurry *** -->
</div>  <!-- *** Description section *** -->

<footer>
  <div class="container-fluid">
    <p>Contact us on<a href="#"> Discord</a></p>
  </div>
</footer>





<!-- <div class="container py-5" style="max-width: 600px;" ng-controller="Main as main"> -->
<!--
   <h3>Configure Bot</h3>
    <form ng-show="isAuth()" ng-submit="comment()">
        What should I say?
        <br>
        <br>
        <input type="text" name="content" ng-model="content"><br><br>
        How many times should I run?
        <br>
        <br>

        <input type="radio" ng-model="limit.runTime" ng-value="7">All the time
        <input type="radio" ng-model="limit.runTime" ng-value="3">Medium
        <input type="radio" ng-model="limit.runTime" ng-value="2">Slow
        <br>
        <br>
        <span class="input-group-btn">  
          <button class="btn btn-primary" type="submit">Submit</button>
        </span>
        {{ limit.runTime }}
    </form>
-->
  <!-- <hr />
  <div>
    <h3>Login & logout</h3>
    <b ng-show="isAuth()"><img src="//img.busy.org/@{{user.name}}?s=32" width="32" height="32"> @{{user.name}}</b>
    <button ng-show="isAuth()" class="ml-2 btn btn-secondary" type="submit" ng-click="logout()">
      Logout
    </button>
    <a class="btn btn-primary" ng-href="{{loginURL}}" ng-hide="isAuth()">Log In</a>
  </div>

  <hr />
  <h3>Comment & vote</h3>
  <div class="input-group input-group-lg">
    Last comments on the post: @{{parentAuthor}}/{{parentPermlink}}
  </div>

  <ul class="list-group my-4" ng-init="loadComments()">
    <li class="list-group-item" ng-repeat="comment in comments">
      @{{comment.author}}: {{comment.body}}
      <button ng-show="isAuth()" class="ml-2 btn btn-secondary btn-sm" type="submit" ng-click="vote(comment.author, comment.permlink, 1000)">
        <i class="icon iconfont icon-praise"></i> {{comment.net_votes}}
      </button>
    </li>
  </ul>

  <form ng-show="isAuth()" ng-submit="comment()">
    <div class="input-group">
      <input type="text" class="form-control" ng-disabled="loading" placeholder="Write a comment here" ng-model="message">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Submit</button>
      </span>
    </div>
  </form>

  <hr />
  <h3>User metadata</h3>
  <p>SteemConnect allows you to store data related to each user (such as user preferences) that do not impact a user's core functionality.</p>
  <form ng-show="isAuth()" ng-submit="updateUserMetadata({ locale: locale })">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="What is your locale?" ng-model="locale">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Save</button>
      </span>
    </div>
    <pre class="mt-4">{{metadata}}</pre>
  </form>

</div> -->

</body>
</html>
