<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Juicer FAQ's</title>
  <base href="/" />
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="//at.alicdn.com/t/font_ykgtxz90gjve7b9.css">


  <link rel="stylesheet" type="text/css" href="../styles/faq.css">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/scripts/sc2.min.js"></script>
  <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
  <script src="/scripts/app.js"></script>

</head>
<body ng-controller="Main">

<script>

 $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

</script>


<!-- My Profile - Universal nav bar -->
<nav class="navbar navbar-expand-md navbar-dark myNav">
  <div class="container-fluid" >

    <!-- logo -->
    <a class="navbar-logo" href="../" target="_self">
      <img src="../media/orange.png" height="50" alt="Juicer Logo">
    </a>

    <!-- Collapseable section of navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/comments" target="_self">Comment Bot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sell-votes" target="_self">Sell Votes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buy-votes" target="_self">Buy Votes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq" target="_self">FAQ</a>
        </li>
      </ul>
    </div>

    <!-- Login button -->
    <a class="btn navbar-btn joinNavBtn" ng-href="{{loginURL}}" ng-hide="isAuth()">Log In</a>


    <div class="dropdown">
      <a ng-show="isAuth()" class="dropdown-toggle user-name" data-toggle="dropdown" boundary='viewport'><img src="//img.busy.org/@{{user.name}}?s=32" width="32" height="32"> {{user.name}}</a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 8rem;">

        <a ng-show="isAuth()" class="dropdown-item" ng-href="Views/profile.html" target="_self">
        Profile
        </a>

        <div class="dropdown-divider"></div>
        
         <!-- Logout button -->
        <a ng-show="isAuth()" class="dropdown-item" ng-href="http://127.0.0.1:8080" ng-click="logout()">
        Logout
        </a>


      </div>
    </div>

    <!-- hamburger icon when nav bar is collapsed -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>




<div class="faq-container">

  <h1>FAQ</h1>

  <div id="accordion1" class="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link faqBtn" data-toggle="collapse" data-target="#collapse1">
            <span>What is Juicer?</span>
          </button>
        </h5>
      </div>

      <div id="collapse1" class="collapse" data-parent="#accordion1">
        <div class="card-body">
          Juicer is the best software product you've ever seen.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link faqBtn" data-toggle="collapse" data-target="#collapse5">
            <span>How do I use Juicer?</span>
          </button>
        </h5>
      </div>

      <div id="collapse5" class="collapse" data-parent="#accordion1">
        <div class="card-body">
          Juicer is the best software product you've ever seen.
        </div>
      </div>
    </div>
  </div>




  <h1>Comment Bot</h1>

  <div id="accordion2" class="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link faqBtn" data-toggle="collapse" data-target="#collapse2">
            <span>What is the Juicer Comment Bot?</span>
          </button>
        </h5>
      </div>

      <div id="collapse2" class="collapse" data-parent="#accordion2">
        <div class="card-body">
          Juicer is the best software product you've ever seen.
        </div>
      </div>
    </div>
  </div>




  <h1>Sell Votes</h1>

  <div id="accordion3" class="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link faqBtn" data-toggle="collapse" data-target="#collapse3">
            <span>What is vote selling on Juicer?</span>
          </button>
        </h5>
      </div>

      <div id="collapse3" class="collapse" data-parent="#accordion3">
        <div class="card-body">
          Juicer is the best software product you've ever seen.
        </div>
      </div>
    </div>
  </div>





  <h1>Buy Votes</h1>

  <div id="accordion4" class="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link faqBtn" data-toggle="collapse" data-target="#collapse4">
            <span>What is vote buying on Juicer?</span>
          </button>
        </h5>
      </div>

      <div id="collapse4" class="collapse" data-parent="#accordion4">
        <div class="card-body">
         Juicer is the best software product you've ever seen.
        </div>
      </div>
    </div>
  </div>
  
</div>

<footer class="fixed-bottom">
  <div class="container-fluid">
    <p>Contact us on<a href="#"> Discord</a></p>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

